[submodule "3rdparty/hammerjs"]
	path = 3rdparty/hammerjs
	url = https://github.com/hammerjs/hammer.js.git
[submodule "tools/android"]
	path = tools/android
	url = git@spritinio.de:pyrap2apk-dev
[submodule "3rdparty/dnutils"]
	path = 3rdparty/dnutils
	url = https://github.com/danielnyga/dnutils.git
