.graphlink {
  fill: none;
  stroke-width: 1.5px;
  stroke: black;
}

.graphlink.red {
  stroke: red;
}

.graphlink.green {
  stroke: #89a35c;
}

.graphlink.purple {
  stroke: #7400a3;
}

.graphlink.black {
  stroke: black;
}

.graphlink.blue {
  stroke: blue;
}

.graphlink.dashed {
  stroke-dasharray: 2.5;
}

marker {
  fill: none;
}

marker#red {
  fill: red;
}

marker#green {
  fill: #89a35c;
}

marker#purple {
  fill: #7400a3;
}

marker#black {
  strfill: black;
}

marker#blue {
  fill: blue;
}

.graphcircle {
  fill: #bee280;
  stroke: #89a35c;
  stroke-width: 1.5px;
}

.graphtext {
  font: 15px monospace, arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  opacity: 1;
}

.graphlinklabel {
  font: 10px monospace, arial, sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.graphtooltip {
  display: none;
  position: fixed;
  overflow: hidden;
  color: white;
  font: 13px bookman, arial, sans-serif;
  background-color:rgba(0,0,0, 0.7);
  border-radius: 5px;
  padding: 10px;
}
