text {
  font: 13px monospace, arial, sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 13px monospace, arial, sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.treetooltip {
  display: none;
  position: fixed;
  overflow: hidden;
  color: white;
  font: 13px bookman, arial, sans-serif;
  background-color:rgba(70,130,180, 0.7);
  border-radius: 5px;
  padding: 10px;
}