circle.D01_1 {
  fill: #6C00FF;
  stroke: #6C00FF;
}

circle.D01_3 {
  fill: #8400FF;
  stroke: #8400FF;
}

circle.D01_5 {
  fill: #8200FF;
  stroke: #8200FF;
}

circle.D01_6 {
  fill: #8F00FF;
  stroke: #8F00FF;
}

circle.D01_7 {
  fill: #A000FF;
  stroke: #A000FF;
}

circle.D02_1 {
  fill: #BC00FF;
  stroke: #BC00FF;
}

circle.D03_1 {
  fill: #D700FF;
  stroke: #D700FF;
}

circle.D03_2 {
  fill: #FF00F6;
  stroke: #FF00F6;
}

circle.D03_3 {
  fill: #FF00B8;
  stroke: #FF00B8;
}

circle.D03_4 {
  fill: #FF0082;
  stroke: #FF0082;
}

circle.D04_1 {
  fill: #FF0057;
  stroke: #FF0057;
}

circle.S02_2 {
  fill:#FF0005;
  stroke: #FF0005;
}

circle.S02_3 {
  fill: #FF2500;
  stroke: #FF2500;
}

circle.S04_1 {
  fill: #FF7700;
  stroke: #FF7700;
}

circle.S04_2 {
  fill: #FF9300;
  stroke: #FF9300;
}

circle.S04_3 {
  fill: #FFB600;
  stroke: #FFB600;
}

circle.U03_3 {
  fill: #FFD500;
  stroke: #FFD500;
}

circle.U03_5 {
  fill: #FFEC00;
  stroke: #FFEC00;
}

circle.U04_3 {
  fill: #C4FF00;
  stroke: #C4FF00;
}

circle.U04_5 {
  fill: #9AFF00;
  stroke: #9AFF00;
}

circle.U04_6 {
  fill: #6DFF00;
  stroke: #6DFF00;
}

circle.U04_7 {
  fill: #00FF5B;
  stroke: #00FF5B;
}

circle.U04_8 {
  fill: #00FFDE;
  stroke: #00FFDE;
}

circle.Z02_1 {
  fill: #0092FF;
  stroke: #0092FF;
}

circle.Z02_2 {
  fill: #0016FF;
  stroke: #0016FF;
}
