.radar_smoothed{
  font: 15px monospace, arial, sans-serif;
  font-weight: normal;
  fill: #242424;
  text-align: center;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
text.radar_smoothedtext {
  font: 15px monospace, arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

text.radar_smoothedlegend {
  font-size: 11px;
  fill: #333333;
}

text.radar_smoothedaxisLabel {
  fill: #737373;
  font-size: 10px;
}

line.radar_smoothedline {
  stroke: white;
  stroke-width: 2px;
}

circle.radar_smoothedlevels {
  fill: #CDCDCD;
  stroke: #CDCDCD;
}

path.radarStroke {
  fill: none;
}

.radar_smoothedtooltip {
  display: none;
  position: fixed;
  overflow: hidden;
  color: white;
  font: 13px bookman, arial, sans-serif;
  background-color:rgba(70,130,180, 0.7);
  border-radius: 5px;
  padding: 10px;
}