text.heatmaptext {
  font: 15px monospace, arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.heatmaptooltip {
  display: none;
  position: fixed;
  overflow: hidden;
  color: white;
  font: 13px bookman, arial, sans-serif;
  background-color:rgba(0,0,0, 0.7);
  border-radius: 5px;
  padding: 10px;
}