
/*Button[CHECK] {
	cursor: pointer;
}

Button-CheckIcon {
  background-image: url( img/button/checkbox-unchecked.png );
}

Button-CheckIcon:hover {
  background-image: url( img/button/checkbox-unchecked-hover.png );
}

Button-CheckIcon:selected {
  background-image: url( img/button/checkbox-checked.png );
  cursor: pointer;
}

Button-CheckIcon:selected:hover {
  background-image: url( img/button/checkbox-checked-hover.png );
}

Button-CheckIcon:selected:grayed {
  background-image: url( img/button/checkbox-greyed.png );
}

Button-CheckIcon:selected:grayed:hover {
  background-image: url( img/button/checkbox-greyed-hover.png );
}*/

Composite.header {
  box-shadow: 0px 0px 20px #333333;
  padding: 0px 0px 0px 0px;
}

Composite.navbar {
  box-shadow: 0px 0px 20px #333333;
  background-color: "dark grey";
  padding: 0px 0px 10px 0px;
}

Label.bgrepeat {
    background-image: url('images/salvage.gif');
    background-repeat: repeat;
}

Label.header {
  font: 72px 'Debby';
  text-shadow: 1px 1px 0px black;
  color: #fff;
  background: transparent;
}

Label.headline {
  font: 18px normal Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 0px grey;
  color: #3AD512;
}

@font-face {
  font-family: 'Debby';
  font-style: normal;
  /*font-weight: 400;*/
  src: url(fonts/debby-webfont.woff) format('woff');
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
}

@font-face {
  font-family: 'TitilliumRegular';
  src: url('fonts/TitilliumText22L003.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}