.bar rect {
  fill: steelblue;
  opacity: .7;
}

.bar text {
  fill: black;
}

.tick line {
  fill: none;
  stroke: black;
}

.barchart {
  color: black;
  font: 10px monospace, arial, sans-serif;
  font-weight: normal;
  font-weight: bold;
}

.barcharttooltip {
  display: none;
  position: fixed;
  overflow: hidden;
  color: white;
  font: 13px bookman, arial, sans-serif;
  background-color:rgba(0,0,0, 0.7);
  border-radius: 5px;
  padding: 10px;
}
