text.bubblytext {
  font: 13px monospace, arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.bubblytooltip {
  display: none;
  position: fixed;
  overflow: hidden;
  color: #1F77B4;
  font: 13px monospace, arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  background-color: #fff;
  border-radius: 5px;
}